@import url(./__title/lead__title.css);
@import url(./__subtitle/lead__subtitle.css);
@import url(./__image/lead__image.css);
@import url(./__caption/lead__caption.css);
.lead {
  padding-top: 56px;
  /* отступ от header  */
  max-width: 984px;
  width: 90.625%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

@media (max-width: 1024px) {
  .lead {
    max-width: 928px;
    padding-top: 48px;
  }
  .lead__subtitle {
    margin-bottom: 56px;
  }
}

@media (max-width: 768px) {
  .lead {
    width: 100%;
  }
  .lead__caption {
    margin-left: 24px;
  }
}

@media (max-width: 720px) {
  .lead__title {
    font-size: 12.5vw;
  }
  .lead__subtitle {
    max-width: 80%;
    font-size: 4vw;
  }
}

@media (max-width:425px) {
  .lead__title {
    max-width: 288px;
    font-size: 40px;
    line-height: 1.1;
    margin-bottom: 16px;
  }
  .lead__subtitle {
    max-width: 288px;
    font-size: 16px;
    line-height: 1.25;
    margin-bottom: 40px;
  }
  .lead__caption {
    margin-left: 16px;
  }
}