.cover__overlay {
  width: 100%;
  height: 62.5vw;
  max-width: 1184px;
  max-height: 740px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1;
  text-decoration: none;
  background-image: url(./../../../images/cover-trains.jpg);
  background-size: cover;
}


/* темный фон при ховере */

.cover__overlay:hover::before {
  opacity: .8;
  cursor: pointer;
}


/* легкое затемнение без ховера.  */

.cover__overlay::before {
  content: '';
  opacity: .3;
  background-color: #2a2c2f;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: opacity .2s linear;
}