.header__lang-links {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin: 0 0 6px;
  list-style: none;
  padding: 0;
}

@media all and (max-width: 425px) {
  .header__lang-links {
    margin-bottom: 4px;
  }
}